<section class="modal">
  <h2 mat-dialog-title>Viajante</h2>
  <mat-dialog-content>
    <div class="selecao-idade">
      <div class="selecao-unico">
        <h3><strong>Adultos</strong></h3>
        <p>(Acima de 12 anos)</p>
        <div class="modal-botoes">
          <button class="decremento" mat-mini-fab>
            <img src="assets/icones/do_not_disturb_on.png" alt="Operador de subtração">
          </button>
          <span>1</span>
          <button class="incremento" mat-mini-fab>
            <img src="assets/icones/add_circle.png" alt="Operador de adição">
          </button>
        </div>
      </div>
      <div class="selecao-unico">
        <h3><strong>Crianças</strong></h3>
        <p>(Entre 2 e 11 anos)</p>
        <div class="modal-botoes">
          <button class="decremento" mat-mini-fab>
            <img src="assets/icones/do_not_disturb_on.png" alt="Operador de subtração">
          </button>
          <span>1</span>
          <button class="incremento" mat-mini-fab>
            <img src="assets/icones/add_circle.png" alt="Operador de adição">
          </button>
        </div>
      </div>
      <div class="selecao-unico">
        <h3><strong>Bebês</strong></h3>
        <p>(Até 2 anos)</p>
        <div class="modal-botoes">
          <button class="decremento" mat-mini-fab>
            <img src="assets/icones/do_not_disturb_on.png" alt="Operador de subtração">
          </button>
          <span>1</span>
          <button class="incremento" mat-mini-fab>
            <img src="assets/icones/add_circle.png" alt="Operador de adição">
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</section>
