<footer class="app-footer">
  <app-container>
    <div class="footer-info">
      <div class="footer-description">
        <img src="assets/imagens/logo.png" alt="logo da aplicação jornada">
        <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
      </div>
      <div class="footer-social">
        <p>Acesse nossas redes:</p>
        <div>
          <a href="" target="_blank">
            <img src="assets/icones/whatsapp.png" alt="Whatsapp">
          </a>
          <a href="" target="_blank">
            <img src="assets/icones/instagram.png" alt="Instagram">
          </a>
          <a href="" target="_blank">
            <img src="assets/icones/twitter.png" alt="Twitter">
          </a>
        </div>
      </div>
    </div>
  </app-container>
</footer>
